html {
    padding: 0%;
    margin: 0%;
}



























/*nav start*/







/*nav slut*/

/*forside start*/







/*forside slut*/

/*boderstart*/
.boder {
    background-color: rebeccapurple;
    height: 200px;
}






/*boder slut*/

/*tivoli start*/







/*tivoli slut*/

/*footer start*/







/*footer slut*/

